<div class="social">
    <h4>
    {% if site.github %}
        <a href="https://github.com/{{ site.github }}"><i class="fa-brands fa-github"></i></a>
    {% endif %}
    {% if site.email %}
        <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.mastodon %}
        <a href="{{ site.mastodon }}"><i class="fa-brands fa-mastodon"></i></a>
    {% endif %}
    {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter }}"><i class="fa-brands fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
        <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
        <a href="https://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa-brands fa-stack-overflow"></i></a>
    {% endif %}
    </h4>
</div>
